openapi: 3.0.3
info:
  title: FarmDash Signal Architect API
  version: 1.2.0
  description: |
    Customer-controlled intelligence and workflow API for DeFi agents and serious airdrop farmers:
    structured opportunity intelligence, quote generation, user-authorized transaction preparation,
    x402 flows, and fee history. FarmDash does not request seed phrases or raw wallet private keys.
    Compatibility swap routes do not custody user funds; separately configured venue or MPC
    delegations remain subject to their provider controls and explicit policy bounds.

    ## Authentication
    - **Scout (Free)**: No auth. 30 requests/24h per IP.
    - **Pioneer**: `Authorization: Bearer <PIONEER_KEY>`. 1,500 requests/day.
    - **Syndicate**: `Authorization: Bearer <SYNDICATE_KEY>`. $199/mo USDC, 50,000 requests/day, webhooks, unrestricted CORS, and advanced control/session tooling for teams and serious agents.
    - **Swap execution**: Requires fresh quote review plus EIP-191 agent wallet signature.
    - **Delegation/autopilot**: Requires explicit user-configured budgets, allowlists, and revocation path.
    - **Privacy**: Public wallet addresses, token addresses, chain IDs, amounts, signatures, request IDs, and analytics headers may be sent to FarmDash; private keys and seed phrases are never sent.

    ## Dust Storm Protocol
    If an upstream API fails, FarmDash returns a typed error or a previously
    validated stale response with a `warnings` array containing
    `{ kind: "dust_storm", message: "..." }`. Missing data remains unknown
    rather than being converted into a synthetic zero.

    ## x402 Payment Wall
    When free-tier limits are exceeded, responses include `X-Payment-*` headers
    describing a one-off USDC payment on Base that unlocks the current request.
  contact:
    name: FarmDash Engineering
    url: https://www.farmdash.one/agents
  license:
    name: MIT

servers:
  - url: https://www.farmdash.one/api
    description: Production

paths:
  /v1/agent/protocols:
    get:
      operationId: getProtocolCatalog
      summary: Get catalog protocol directory (discovery heuristic scores)
      description: |
        Returns the curated FarmDash catalog with EDITORIAL discovery heuristic scores (catalog-editorial-v1). NOT live Trail Heat — canonical quantitative Trail Heat: /v1/trail-heat.
        Live scoring uses calibrated TVL, seven-day TVL momentum, chain diversification,
        category baseline comparison, and FarmDash evidence prior when upstream data is available.
        Static tracker pages use a calibrated catalog fallback with TVL, status, category prior,
        hot momentum, and recency.
        Scout tier receives top 3 with encrypted numeric values.
        Pioneer/Syndicate tiers receive the full unencrypted dataset.
      tags: [Intelligence]
      security:
        - bearerAuth: []
        - {}
      parameters:
        - $ref: '#/components/parameters/X-ClawHub-Skill'
      responses:
        '200':
          description: Protocol dataset
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProtocolsResponse'
        '402':
          description: Free-tier limit exceeded — x402 payment required
          headers:
            X-Payment-Required:
              schema: { type: string }
            X-Payment-Address:
              schema: { type: string }
              description: Treasury wallet (USDC on Base)
            X-Payment-Token:
              schema: { type: string }
              description: USDC contract on Base
            X-Payment-Amount:
              schema: { type: string }
              description: Quoted amount in token decimals (e.g. 10000 = 0.01 USDC default overage)
            X-Payment-Chain-Id:
              schema: { type: string }
              description: "8453 (Base)"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentRequiredError'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v1/agent/chain-breakdown:
    get:
      operationId: getChainBreakdown
      summary: Get protocol distribution by chain
      description: |
        Aggregates the protocol directory by blockchain network.
        Returns per-chain protocol counts, confirmed airdrops, points programs,
        and category coverage. Scout tier receives top 3 chains with encrypted numerics.
      tags: [Intelligence]
      security:
        - bearerAuth: []
        - {}
      parameters:
        - $ref: '#/components/parameters/X-ClawHub-Skill'
      responses:
        '200':
          description: Chain breakdown data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChainBreakdownResponse'
        '402':
          description: Free-tier limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentRequiredError'
        '429':
          description: Rate limit exceeded

  /agents/quote:
    get:
      operationId: getSwapQuote
      summary: Get a token swap quote
      description: |
        Provider-neutral market estimate by default: returns an explicitly
        labelled `market_estimate` (reference price, approximate output,
        server fee tier, route compatibility, freshness) WITHOUT calling 0x,
        LI.FI, or Relay trading APIs. Browsing, polling, previews, and
        wallet-supplied GETs all receive estimation — a `walletAddress` alone
        is exploratory context, never execution intent, and never fans out
        into provider APIs. The estimate is intelligence, not a provider
        quote: no executable calldata, no provider attribution, no liquidity
        confirmation, never `executionReady: true`.
        For execution, POST `/v1/agent/quote-intent` with exact parameters, a
        real wallet, and an idempotency key to receive a firm single-provider
        quote bound to an `intentId`; then re-call this endpoint with the
        identical parameters plus `intentId` to serve the stored firm quote
        with zero new provider calls. Changed parameters never reuse a stale
        quote (`intent_params_changed`); unknown/expired intents return
        `intent_not_found`. One intent contacts exactly one primary provider;
        a sequential alternate follows only a genuine primary failure.
        `mock=true` is not supported and returns a typed 400 without contacting a provider.
      tags: [Swap]
      parameters:
        - $ref: '#/components/parameters/X-ClawHub-Skill'
        - in: query
          name: fromChainId
          required: true
          schema: { type: integer }
          description: Source chain ID (e.g. 1 = Ethereum, 8453 = Base, 42161 = Arbitrum)
        - in: query
          name: toChainId
          required: true
          schema: { type: integer }
          description: Destination chain ID
        - in: query
          name: fromToken
          required: true
          schema: { type: string, pattern: '^0x[a-fA-F0-9]{40}$' }
          description: Source token contract address (checksummed)
        - in: query
          name: toToken
          required: true
          schema: { type: string, pattern: '^0x[a-fA-F0-9]{40}$' }
          description: Destination token contract address
        - in: query
          name: fromAmount
          required: true
          schema: { type: string, pattern: '^\d+$' }
          description: Amount in wei (no leading zeros)
        - in: query
          name: protocol
          required: false
          schema:
            type: string
            enum: [lifi, zerox, relay]
          description: Force a specific routing protocol (auto-selected if omitted)
        - in: query
          name: walletAddress
          required: false
          schema: { type: string, pattern: '^0x[a-fA-F0-9]{40}$' }
          description: Optional real wallet. Exploratory context only — a wallet alone never triggers provider quoting. For execution, POST /api/v1/agent/quote-intent.
        - in: query
          name: toAddress
          required: false
          schema: { type: string, pattern: '^0x[a-fA-F0-9]{40}$' }
          description: Optional destination wallet override for previewing the signed route
        - in: query
          name: slippage
          required: false
          schema: { type: number, minimum: 0.01, maximum: 5 }
          description: Optional slippage tolerance in percent
        - in: query
          name: expectedUpsideUsd
          required: false
          schema: { type: number }
          description: Optional upside estimate used to enforce positive net edge
        - in: query
          name: riskBufferUsd
          required: false
          schema: { type: number }
          description: Optional execution-risk haircut added to total route cost
        - in: query
          name: healthFactor
          required: false
          schema: { type: number }
          description: Optional health factor used for halt checks
        - in: query
          name: liquidationBufferPct
          required: false
          schema: { type: number }
          description: Optional liquidation buffer percentage used for halt checks
        - in: query
          name: safetyMode
          required: false
          schema: { $ref: '#/components/schemas/SwapSafetyMode' }
          description: "`strict` halts on severe quote decay, `balanced` downgrades that condition to a warning"
        - in: query
          name: intentId
          required: false
          schema: { type: string }
          description: Execution-intent ID from POST /api/v1/agent/quote-intent. Serves the stored firm quote with zero new provider calls when all other parameters exactly match the intent; mismatches return intent_params_changed, unknown IDs return intent_not_found.
      responses:
        '200':
          description: Market estimate (default) or stored firm quote when intentId is supplied and parameters match
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SwapQuoteResponse'
        '400':
          description: Invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '402':
          description: Free-tier limit exceeded
        '404':
          description: Unknown/expired intentId (intent_not_found)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Typed quote failure. Categories carry machine-readable retryable flags (e.g. no_liquidity/unsupported_pair retryable false; provider_rate_limited/provider_unavailable retryable true). Read attempts[] evidence per provider.
        '429':
          description: Rate limit exceeded
        '502':
          description: Typed live quote provider degradation (retryable). Includes provider rate-limit code quote_provider_rate_limited.
        '504':
          description: Live quote provider timed out. Code quote_provider_timeout, retryable true.

  /v1/agent/market-estimate:
    get:
      operationId: getMarketEstimate
      summary: Get a provider-neutral market estimate
      description: |
        Explicit estimation endpoint for browsing, previews, and walletless
        exploration. Returns an explicitly labelled market_estimate (reference
        price, approximate output, server fee tier, freshness) and makes zero
        0x/LI.FI/Relay trading calls. Never executable, never attributed.
        For execution, POST /v1/agent/quote-intent.
      tags: [Swap]
      parameters:
        - $ref: '#/components/parameters/X-ClawHub-Skill'
        - in: query
          name: fromChainId
          required: true
          schema: { type: integer }
        - in: query
          name: toChainId
          required: true
          schema: { type: integer }
        - in: query
          name: fromToken
          required: true
          schema: { type: string, pattern: '^0x[a-fA-F0-9]{40}$' }
        - in: query
          name: toToken
          required: true
          schema: { type: string, pattern: '^0x[a-fA-F0-9]{40}$' }
        - in: query
          name: fromAmount
          required: true
          schema: { type: string, pattern: '^\d+$' }
      responses:
        '200':
          description: Market estimate
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SwapQuoteResponse'
        '400':
          description: Invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded

  /v1/agent/quote-intent:
    post:
      operationId: createQuoteIntent
      summary: Create an execution intent with a firm single-provider quote
      description: |
        Explicit execution intent. Requires exact chain pair, token pair,
        amount, real wallet/taker, destination, slippage, and a client
        idempotency key; the fee tier is resolved server-side before any
        provider call. One intent contacts exactly one primary provider; a
        sequential alternate follows only a genuine primary failure.
        Identical intents reuse the stored firm quote (HTTP 200 reused:true);
        changed parameters never reuse a stale quote. The firm quote flows
        through simulate, approval, and prepare without further provider
        quote requests. Quote is not execution; FarmDash never signs or
        broadcasts.
      tags: [Swap]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [fromChainId, toChainId, fromToken, toToken, fromAmount, walletAddress, toAddress, slippage, idempotencyKey]
              properties:
                fromChainId: { type: integer }
                toChainId: { type: integer }
                fromToken: { type: string }
                toToken: { type: string }
                fromAmount: { type: string }
                walletAddress: { type: string }
                toAddress: { type: string }
                slippage: { type: number, minimum: 0.01, maximum: 5 }
                protocol: { type: string, enum: [lifi, zerox, relay] }
                idempotencyKey: { type: string }
      responses:
        '201':
          description: Firm quote bound to a new execution intent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SwapQuoteResponse'
        '200':
          description: Stored firm quote reused for an identical intent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SwapQuoteResponse'
        '400':
          description: Invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '402':
          description: Free-tier limit exceeded
        '429':
          description: Rate limit exceeded
        '502':
          description: Typed live quote provider degradation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v1/simulate:
    post:
      operationId: simulateSwapExecution
      summary: Simulate a wallet-bound swap intent
      description: Mandatory pre-execution simulation for a quote intent. Returns simulation_id valid for 60 seconds.
      tags: [Swap]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SwapSimulationRequest'
      parameters:
        - $ref: '#/components/parameters/X-ClawHub-Skill'
      responses:
        '200':
          description: Simulation report
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SwapSimulationResponse'
        '400':
          description: Invalid request
        '409':
          description: Intent and wallet mismatch

  /agents/swap:
    post:
      operationId: executeSwap
      summary: Execute a signed token swap
      description: |
        Main swap router. Requires a fresh successful simulationId, authenticates
        the agent via EIP-191 signature, reuses the simulated quote intent, applies
        Execution Alpha routing, and enforces Risk Sentinel guardrails before
        returning ready-to-broadcast transaction calldata.

        FarmDash does not broadcast the returned compatibility-swap transaction. The chosen
        provider (automatic routing across 0x, LI.FI, and Relay) executes the swap.
        The FarmDash treasury receives the fee haircut directly from the protocol.

        **Signing**: The agent must sign the deterministic payload:
        `v1:FARMDASH_SWAP:{fromChainId}:{toChainId}:{fromToken}:{toToken}:{fromAmount}:{agentAddress}:{toAddress}:{nonce}`
        using EIP-191 personal_sign. Nonce must be current timestamp (within 60s).
      tags: [Swap]
      security:
        - bearerAuth: []
        - {}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SwapRequest'
      parameters:
        - $ref: '#/components/parameters/X-ClawHub-Skill'
      responses:
        '200':
          description: Executable swap quote with transaction calldata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SwapQuote'
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Invalid signature or expired nonce
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Swap halted by Risk Sentinel guardrails
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SwapHaltResponse'
        '428':
          description: Missing, expired, failed, or mismatched simulation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '402':
          description: Payment required
        '429':
          description: Rate limit exceeded (per-agent or tier-level)
          headers:
            Retry-After:
              schema: { type: integer }
              description: Seconds until rate limit resets

  /agents/history:
    get:
      operationId: getSwapHistory
      summary: Get your own fee event history (tenant-bound)
      description: |
        Returns paginated swap fee events owned by the wallet bound to your
        API key. Requires a Pioneer or Syndicate bearer key; anonymous/scout
        callers receive 401 authentication_required. Any agentAddress that
        differs from the authenticated wallet returns 403 cross_tenant_denied.
        Use `?metrics=true` to get aggregate revenue metrics for your own
        wallet instead of individual events. For the public leaderboard,
        use GET /v1/agent/leaderboard (server-aggregated totals only).
      tags: [History]
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/X-ClawHub-Skill'
        - in: query
          name: agentAddress
          required: false
          schema: { type: string, pattern: '^0x[a-fA-F0-9]{40}$' }
          description: Filter events by agent wallet address
        - in: query
          name: limit
          required: false
          schema: { type: integer, default: 50, maximum: 200 }
          description: Number of events to return (max 200)
        - in: query
          name: offset
          required: false
          schema: { type: integer, default: 0 }
          description: Pagination offset
        - in: query
          name: metrics
          required: false
          schema: { type: string, enum: ['true'] }
          description: Set to "true" to return aggregate revenue metrics instead of event list
      responses:
        '200':
          description: History events or aggregate metrics
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/HistoryResponse'
                  - $ref: '#/components/schemas/RevenueMetrics'
        '402':
          description: Payment required
        '429':
          description: Rate limit exceeded

  /v1/agent/risk-sentinel:
    get:
      operationId: getRiskSentinelInfo
      summary: Describe Risk Sentinel usage
      description: |
        Returns a lightweight usage guide for the standalone risk-analysis endpoint.
        Use POST to inspect allowance state, token/bridge/contract risks, depeg checks,
        health-factor alerts, quote decay, and positive-net-edge enforcement.
      tags: [Risk]
      security:
        - bearerAuth: []
        - {}
      parameters:
        - $ref: '#/components/parameters/X-ClawHub-Skill'
      responses:
        '200':
          description: Usage guide
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  description: { type: string }
                  usage: { type: string }
        '402':
          description: Payment required
    post:
      operationId: analyzeRiskSentinel
      summary: Analyze a route or account with Risk Sentinel
      description: |
        Accepts either a full swap-shaped payload or manual health/net-edge inputs.
        When swap fields are present, FarmDash auto-selects a route, computes
        Execution Alpha diagnostics, and returns a full Risk Sentinel report.
      tags: [Risk]
      security:
        - bearerAuth: []
        - {}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RiskSentinelRequest'
      parameters:
        - $ref: '#/components/parameters/X-ClawHub-Skill'
      responses:
        '200':
          description: Risk analysis
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RiskSentinelResponse'
        '400':
          description: Invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '402':
          description: Payment required
        '429':
          description: Rate limit exceeded

components:
  parameters:
    X-ClawHub-Skill:
      name: X-ClawHub-Skill
      in: header
      required: false
      schema:
        type: string
        pattern: '^[a-zA-Z0-9-]{1,128}$'
        example: farmdash-signal-architect
      description: 'ClawHub skill attribution. An installed FarmDash skill sends its canonical skill slug (e.g. farmdash-signal-architect) on every FarmDash API request so anonymous Scout usage can be attributed to the skill that drove it. Optional and analytics-only: absence never blocks a request, and malformed values are ignored. This is a skill identity, never a wallet address, API key, or user ID.'

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Pioneer or Syndicate API key

  schemas:
    ErrorResponse:
      type: object
      required: [error]
      properties:
        error:
          type: string
        code:
          type: string
        details:
          type: string

    PaymentRequiredError:
      type: object
      properties:
        error:
          type: string
          example: payment_required
        message:
          type: string
        direct_upgrade_url:
          type: string
          format: uri
        payment_required:
          type: object
          properties:
            amount:
              type: string
              example: '0.01 USDC'
            chain:
              type: string
              example: Base
            destination:
              type: string
              example: '0xb0Ed0d7bca24BBaD635B977C2efbE06742e33377'

    ProtocolItem:
      type: object
      properties:
        protocol_name:
          type: string
          example: Hyperliquid
        discovery_heuristic_score:
          oneOf:
            - type: number
              description: Numeric score (paid tiers)
            - type: string
              description: '"[ ENCRYPTED: UPGRADE TO PIONEER ]" (scout tier)'
        sybil_risk:
          oneOf:
            - type: string
              example: Low
            - type: string
              example: '[ ENCRYPTED: UPGRADE TO PIONEER ]'
        tvl:
          oneOf:
            - type: string
              example: '$4.2B'
            - type: string
              example: '[ ENCRYPTED: UPGRADE TO PIONEER ]'
        category:
          type: string
          enum: [Perps, Lending, Dex, L2, Bridge, Restaking, HyperEVM, Infra, Wallet, Testnet]
        status:
          type: string
          enum: [Confirmed Airdrop, Points Program, Speculative]
        chains:
          type: array
          items: { type: string }
          example: [Arbitrum, Ethereum]
        recommended_agent_deploy_link:
          type: string
          format: uri

    ProtocolsResponse:
      type: object
      required: [tier, count, data]
      properties:
        tier:
          type: string
          enum: [scout, pioneer, syndicate]
        count:
          type: integer
        data:
          type: array
          items:
            $ref: '#/components/schemas/ProtocolItem'
        status:
          type: string
          description: '"limited" for scout tier'
        message:
          type: string
        direct_upgrade_url:
          type: string
          format: uri
        total_protocols_available:
          type: integer
          description: Full dataset size (scout tier only)

    ChainBreakdownItem:
      type: object
      properties:
        chain:
          type: string
          example: EVM
        protocol_count:
          oneOf:
            - type: integer
            - type: string
        pct_of_total:
          oneOf:
            - type: number
            - type: string
        confirmed_airdrops:
          oneOf:
            - type: integer
            - type: string
        points_programs:
          oneOf:
            - type: integer
            - type: string
        categories:
          type: array
          items: { type: string }

    ChainBreakdownSummary:
      type: object
      properties:
        total_chains:
          type: integer
        total_protocols:
          oneOf:
            - type: integer
            - type: string
        dominant_chain:
          type: string
          nullable: true
        dominant_chain_pct:
          oneOf:
            - type: number
            - type: string

    ChainBreakdownResponse:
      type: object
      required: [tier, data]
      properties:
        tier:
          type: string
          enum: [scout, pioneer, syndicate]
        status:
          type: string
        message:
          type: string
        direct_upgrade_url:
          type: string
          format: uri
        data:
          type: object
          properties:
            chains:
              type: array
              items:
                $ref: '#/components/schemas/ChainBreakdownItem'
            summary:
              $ref: '#/components/schemas/ChainBreakdownSummary'

    SwapSafetyMode:
      type: string
      enum: [strict, balanced]

    SwapTxData:
      type: object
      required: [to, data, value, chainId]
      properties:
        to:
          type: string
          description: Protocol contract address (NOT FarmDash)
        data:
          type: string
          description: Encoded calldata
        value:
          type: string
          description: Native token value in wei (for ETH swaps)
        chainId:
          type: integer

    SwapQuote:
      type: object
      required: [protocol, estimatedOutput, feeBps, feeAmountUSD, gasEstimate, txData, expiresAt]
      properties:
        protocol:
          type: string
          enum: [lifi, zerox, relay]
        estimatedOutput:
          type: string
          description: Expected output amount in wei
        feeBps:
          type: integer
          description: Fee in basis points (e.g. 45 = 0.45%)
        feeAmountUSD:
          type: string
          description: Fee amount in USD
        gasEstimate:
          type: string
          description: Estimated gas in wei
        txData:
          $ref: '#/components/schemas/SwapTxData'
        expiresAt:
          type: integer
          description: Unix timestamp — quotes valid for 30 seconds

        allowanceTarget:
          type: string
          nullable: true
        gasEstimateUsd:
          type: number
          nullable: true
        bridgeFeeUsd:
          type: number
          nullable: true
        executionAlpha:
          $ref: '#/components/schemas/ExecutionAlphaReport'
        riskReport:
          $ref: '#/components/schemas/SwapRiskReport'

    SwapQuoteResponse:
      allOf:
        - $ref: '#/components/schemas/SwapQuote'
        - type: object
          properties:
            simulation_required:
              type: boolean
            simulation_available:
              type: boolean
            intent_id:
              type: string
              nullable: true
            intent_expires_at:
              type: string
              nullable: true
            simulate_url:
              type: string
            note:
              type: string
              example: 'This is an unsigned preview quote. Run POST /api/v1/simulate before execution.'

    SwapSimulationRequest:
      type: object
      required: [intent_id, wallet_address]
      properties:
        intent_id:
          type: string
        wallet_address:
          type: string
          pattern: '^0x[a-fA-F0-9]{40}$'

    SwapSimulationResponse:
      type: object
      properties:
        ok:
          type: boolean
        simulation_id:
          type: string
        intent_id:
          type: string
        success:
          type: boolean
        gas_used:
          type: number
        gas_cost_usd:
          type: number
        output_amount:
          type: string
        price_impact_pct:
          type: number
          nullable: true
        mev_risk:
          type: string
          enum: [low, medium, high]
        revert_reason:
          type: string
          nullable: true
        valid_until:
          type: string
        wallet_address:
          type: string
        required_for_execution:
          type: boolean

    SwapRequest:
      type: object
      required: [fromChainId, toChainId, fromToken, toToken, fromAmount, agentAddress, toAddress, simulationId, nonce, signature]
      properties:
        fromChainId:
          type: integer
          description: Source chain ID
        toChainId:
          type: integer
          description: Destination chain ID
        fromToken:
          type: string
          pattern: '^0x[a-fA-F0-9]{40}$'
          description: Source token contract address
        toToken:
          type: string
          pattern: '^0x[a-fA-F0-9]{40}$'
          description: Destination token contract address
        fromAmount:
          type: string
          pattern: '^\d+$'
          description: Amount in wei (no leading zeros)
        agentAddress:
          type: string
          pattern: '^0x[a-fA-F0-9]{40}$'
          description: Agent wallet address (signer)
        toAddress:
          type: string
          pattern: '^0x[a-fA-F0-9]{40}$'
          description: Destination wallet for swapped tokens
        slippage:
          type: number
          minimum: 0.01
          maximum: 5
          default: 0.5
          description: Slippage tolerance in percent
        protocol:
          type: string
          enum: [lifi, zerox, relay]
          description: Force protocol (auto-selected if omitted)
        expectedUpsideUsd:
          type: number
          description: Optional upside estimate in USD for positive-net-edge checks
        riskBufferUsd:
          type: number
          description: Optional extra execution-risk buffer in USD
        healthFactor:
          type: number
          description: Optional lending health factor supplied by the caller
        liquidationBufferPct:
          type: number
          description: Optional liquidation-buffer percentage supplied by the caller
        walletAddress:
          type: string
          pattern: '^0x[a-fA-F0-9]{40}$'
          description: Optional wallet address used for on-chain approval checks
        safetyMode:
          $ref: '#/components/schemas/SwapSafetyMode'
          description: Agent-supplied USD estimate — unlocks volume fee discounts (>=10k = 35bps, >=100k = 25bps)
        simulationId:
          type: string
          description: Fresh successful simulation_id from POST /v1/simulate
        intentId:
          type: string
          description: Optional quote intent ID
        nonce:
          type: string
          description: Current timestamp in milliseconds (must be within 60 seconds)
        signature:
          type: string
          pattern: '^0x[a-fA-F0-9]+$'
          description: EIP-191 personal_sign of the deterministic payload

    ExecutionAlphaReport:
      type: object
      properties:
        selectedProtocol:
          type: string
          enum: [lifi, zerox, relay]
        routeReason:
          type: string
        mevProtection:
          type: object
          properties:
            safetyMode:
              $ref: '#/components/schemas/SwapSafetyMode'
            actualSlippageBps:
              type: integer
            maxRecommendedSlippageBps:
              type: integer
        candidates:
          type: array
          items:
            type: object
            properties:
              protocol:
                type: string
                enum: [lifi, zerox, relay]
              estimatedOutput: { type: string }
              feeAmountUsd: { type: number }
              gasEstimateUsd: { type: number, nullable: true }
              bridgeFeeUsd: { type: number, nullable: true }
              routeRiskScore: { type: number }
              selected: { type: boolean }
        quoteDecay:
          type: object
          properties:
            previousObservedAt: { type: integer, nullable: true }
            quoteAgeMs: { type: integer, nullable: true }
            outputDecayBps: { type: number }
            gasIncreaseBps: { type: number }
            severity:
              type: string
              enum: [none, low, medium, high]
        netEdge:
          type: object
          properties:
            expectedUpsideUsd: { type: number, nullable: true }
            protocolFeeUsd: { type: number }
            gasUsd: { type: number }
            bridgeFeeUsd: { type: number }
            riskBufferUsd: { type: number }
            totalCostUsd: { type: number }
            netEdgeUsd: { type: number, nullable: true }
            positive: { type: boolean, nullable: true }
            enforced: { type: boolean }

    SwapRiskReport:
      type: object
      properties:
        flags:
          type: array
          items:
            type: object
            properties:
              code: { type: string }
              category:
                type: string
                enum: [approval, bridge, contract, token, health, execution]
              severity:
                type: string
                enum: [low, medium, high, critical]
              title: { type: string }
              message: { type: string }
              metadata:
                type: object
                additionalProperties: true
        approval:
          type: object
          nullable: true
          properties:
            spender: { type: string, nullable: true }
            allowance: { type: string, nullable: true }
            requiredAmount: { type: string }
            approvalNeeded: { type: boolean }
            overApproved: { type: boolean }
            source:
              type: string
              enum: [onchain, quote_fallback, unavailable]
        pegChecks:
          type: array
          items:
            type: object
            properties:
              tokenAddress: { type: string }
              symbol: { type: string }
              reference:
                type: string
                enum: [USD, ETH]
              priceUsd: { type: number, nullable: true }
              referencePriceUsd: { type: number, nullable: true }
              deviationPct: { type: number, nullable: true }
              alert: { type: boolean }
        health:
          type: object
          nullable: true
          properties:
            healthFactor: { type: number, nullable: true }
            liquidationBufferPct: { type: number, nullable: true }
            alertLevel:
              type: string
              enum: [none, warning, critical]
            shouldHalt: { type: boolean }
        shouldHalt:
          type: boolean
        haltReasons:
          type: array
          items: { type: string }

    SwapHaltResponse:
      type: object
      properties:
        error:
          type: string
          example: swap_halted
        code:
          type: string
          example: swap_halted
        selectedProtocol:
          type: string
          enum: [lifi, zerox, relay]
        executionAlpha:
          $ref: '#/components/schemas/ExecutionAlphaReport'
        riskReport:
          $ref: '#/components/schemas/SwapRiskReport'

    RiskSentinelRequest:
      type: object
      description: Provide either manual health/net-edge inputs or a full swap-shaped request for route-aware analysis.
      properties:
        fromChainId: { type: integer }
        toChainId: { type: integer }
        fromToken: { type: string, pattern: '^0x[a-fA-F0-9]{40}$' }
        toToken: { type: string, pattern: '^0x[a-fA-F0-9]{40}$' }
        fromAmount: { type: string, pattern: '^\\d+$' }
        walletAddress: { type: string, pattern: '^0x[a-fA-F0-9]{40}$' }
        toAddress: { type: string, pattern: '^0x[a-fA-F0-9]{40}$' }
        protocol:
          type: string
          enum: [lifi, zerox, relay]
        slippage: { type: number }
        expectedUpsideUsd: { type: number }
        riskBufferUsd: { type: number }
        healthFactor: { type: number }
        liquidationBufferPct: { type: number }
        protocolFeeUsd: { type: number }
        gasUsd: { type: number }
        bridgeFeeUsd: { type: number }
        enforcePositive: { type: boolean }
        safetyMode:
          $ref: '#/components/schemas/SwapSafetyMode'

    RiskSentinelResponse:
      type: object
      properties:
        ok: { type: boolean }
        mode:
          type: string
          enum: [manual, quoted]
        selectedProtocol:
          type: string
          enum: [lifi, zerox, relay]
          nullable: true
        executionAlpha:
          allOf:
            - $ref: '#/components/schemas/ExecutionAlphaReport'
          nullable: true
        riskReport:
          allOf:
            - $ref: '#/components/schemas/SwapRiskReport'
          nullable: true
        quotePreview:
          allOf:
            - $ref: '#/components/schemas/SwapQuote'
          nullable: true
        health:
          type: object
          nullable: true
        netEdge:
          type: object
          nullable: true
        flags:
          type: array
          items:
            type: object
        shouldHalt:
          type: boolean

    FeeEvent:
      type: object
      properties:
        id:
          type: string
          format: uuid
        created_at:
          type: string
          format: date-time
        protocol:
          type: string
          enum: [lifi, zerox, relay]
        from_token:
          type: string
        to_token:
          type: string
        volume_usd:
          type: number
        fee_bps:
          type: integer
        fee_usd:
          type: number
        agent_address:
          type: string
        tx_hash:
          type: string
          nullable: true

    HistoryResponse:
      type: object
      required: [events, total, limit, offset]
      properties:
        events:
          type: array
          items:
            $ref: '#/components/schemas/FeeEvent'
        total:
          type: integer
        limit:
          type: integer
        offset:
          type: integer

    RevenueMetrics:
      type: object
      required: [totalFeeUSD, totalVolumeUSD, totalSwaps, activeAgents]
      properties:
        totalFeeUSD:
          type: number
          description: Cumulative fees collected in USD
        totalVolumeUSD:
          type: number
          description: Cumulative swap volume in USD
        totalSwaps:
          type: integer
          description: Total number of swaps executed
        activeAgents:
          type: integer
          description: Unique agent addresses that have swapped
